/.vs/Cakes/DesignTimeBuild/.dtbcache
/.idea/.idea.Cakes/.idea/.gitignore
/.vs/Cakes/v16/.suo
/.vs/Cakes/config/applicationhost.config
/Cakes.Gateway/bin/Debug/netcoreapp3.1/appsettings.Development.json
/Cakes.Gateway/bin/Debug/netcoreapp3.1/appsettings.json
/Cakes.Gateway/obj/Debug/netcoreapp3.1/Cakes.Gateway.AssemblyInfo.cs
/Cakes.Gateway/obj/Debug/netcoreapp3.1/Cakes.Gateway.AssemblyInfoInputs.cache
/Cakes.Gateway/obj/Debug/netcoreapp3.1/Cakes.Gateway.assets.cache
/Cakes.Gateway/obj/Debug/netcoreapp3.1/Cakes.Gateway.csproj.CopyComplete
/Cakes.Gateway/obj/Debug/netcoreapp3.1/Cakes.Gateway.csproj.FileListAbsolute.txt
/Cakes.Gateway/obj/Cakes.Gateway.csproj.nuget.cache
/Cakes.Gateway/obj/Cakes.Gateway.csproj.nuget.dgspec.json
/Cakes.Gateway/obj/Cakes.Gateway.csproj.nuget.g.props
/Cakes.Gateway/obj/Cakes.Gateway.csproj.nuget.g.targets
/Cakes.Gateway/obj/Debug/netcoreapp3.1/Cakes.Gateway.csprojAssemblyReference.cache
/Cakes.Gateway/bin/Debug/netcoreapp3.1/Cakes.Gateway.deps.json
/Cakes.Gateway/bin/Debug/netcoreapp3.1/Cakes.Gateway.dll
/Cakes.Gateway/obj/Debug/netcoreapp3.1/Cakes.Gateway.dll
/Cakes.Gateway/bin/Debug/netcoreapp3.1/Cakes.Gateway.exe
/Cakes.Gateway/obj/Debug/netcoreapp3.1/Cakes.Gateway.exe
/Cakes.Gateway/obj/Debug/netcoreapp3.1/Cakes.Gateway.MvcApplicationPartsAssemblyInfo.cache
/Cakes.Gateway/obj/Debug/netcoreapp3.1/Cakes.Gateway.MvcApplicationPartsAssemblyInfo.cs
/Cakes.Gateway/bin/Debug/netcoreapp3.1/Cakes.Gateway.pdb
/Cakes.Gateway/obj/Debug/netcoreapp3.1/Cakes.Gateway.pdb
/Cakes.Gateway/obj/Debug/netcoreapp3.1/Cakes.Gateway.RazorTargetAssemblyInfo.cache
/Cakes.Gateway/bin/Debug/netcoreapp3.1/Cakes.Gateway.runtimeconfig.dev.json
/Cakes.Gateway/bin/Debug/netcoreapp3.1/Cakes.Gateway.runtimeconfig.json
/Cakes.Gateway/obj/Debug/netcoreapp3.1/staticwebassets/Cakes.Gateway.StaticWebAssets.Manifest.cache
/Cakes.Gateway/obj/Debug/netcoreapp3.1/staticwebassets/Cakes.Gateway.StaticWebAssets.xml
/.idea/.idea.Cakes/.idea/contentModel.xml
/.vs/Cakes/v16/Server/sqlite3/db.lock
/.idea/.idea.Cakes/.idea/encodings.xml
/Cakes.Gateway/bin/Debug/netcoreapp3.1/FluentValidation.dll
/.idea/.idea.Cakes/.idea/indexLayout.xml
/Cakes.Gateway/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
/Cakes.Gateway/Properties/launchSettings.json
/Cakes.Gateway/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.JsonPatch.dll
/Cakes.Gateway/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.MiddlewareAnalysis.dll
/Cakes.Gateway/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Mvc.NewtonsoftJson.dll
/Cakes.Gateway/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DiagnosticAdapter.dll
/.idea/.idea.Cakes/.idea/modules.xml
/Cakes.Gateway/bin/Debug/netcoreapp3.1/Newtonsoft.Json.Bson.dll
/Cakes.Gateway/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
/Cakes.Gateway/bin/Debug/netcoreapp3.1/Ocelot.dll
/Cakes.Gateway/bin/Debug/netcoreapp3.1/ocelot.json
/Cakes.Gateway/ocelot.json
/Cakes.Gateway/obj/project.assets.json
/Cakes.Gateway/obj/project.packagespec.json
/.idea/.idea.Cakes/.idea/projectSettingsUpdater.xml
/.idea/.idea.Cakes/riderModule.iml
/.vs/Cakes/v16/Server/sqlite3/storage.ide
/.idea/.idea.Cakes/.idea/vcs.xml
/Cakes.Gateway/Controllers/WeatherForecastController.cs
